.chat {
  position: relative;
  width: 600px;
  padding: 11px 0 0;
  margin: auto;
  border-radius: 6px;
  box-shadow: 0px 1px 16.02px 1.98px $grey10;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 11px;
    background-image: repeating-linear-gradient(-57deg, $white 0, $white 9px, $blue1 9px, $blue1 18px, $white 18px, $white 27px, $pink 27px, $pink 35px);
  }
}

.chat__photo {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 14px 0 0;

  &--big {
    width: 45px;
    height: 45px;
  }

  &--chat-addressee {
    margin-top: 7px;
  }

  &--chat-footer {
    margin-top: -1px;
  }

  &--messages {
    margin-top: 3px;
  }
}

.chat__addressee {
  display: flex;
  align-items: flex-start;
  padding: 10px 7px 14px 30px;
  border-bottom: 1px solid $grey9;
}

.chat__addressee-info {
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
}

.chat__addressee-title {
  width: 100%;
  margin: 0 0 2px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 24px;
}

.chat__addressee-city {
  font-size: 15px;
  letter-spacing: 0.5px;
  color: $grey1;
}

.chat__rating {
  margin: 7px 14px 0 auto;
}

.chat__close-btn {
  margin: 2px 0 0;
}

.chat__messages {
  height: 32vh;
  padding: 4px 22px 0 31px;
  overflow: auto;
}

.chat__messages-item {
  display: flex;
  padding: 7px 15px 8px;
  margin: 0 0 6px;
  border-radius: 3px;
  transition: background-color 2s ease-in-out;

  &--user {
    background-color: $grey3;
  }

  &--just-sent {
    background-color: $blue2;
  }
}

.chat__messages-text {
  max-width: 368px;
  line-height: 1.25;
}

.chat__date-time {
  margin: 2px 0 0 auto;
  font-size: 12px;
  color: $grey1;
}

.chat__footer {
  display: flex;
  padding: 12px 30px 10px;
  background-color: $blue2;
}

.chat__form {
  width: 100%;
  font-size: 16px;
}

.chat__form-textarea {
  width: 100%;
  margin: 0 0 4px;
  font-size: inherit;
  border: 1px solid $grey4;
  border-radius: 3px;
}

.chat__form-button {
  width: 135px;
  padding: 5px 0 4px;
  font-size: inherit;
  color: $grey2;
  border: 1px solid $grey5;
  border-radius: 3px;
  background-image: linear-gradient(0deg, $grey11, $white);
}