// цвета

$black: #000000;

$grey1: #7f7f7f;
$grey2: #3e3e3e;
$grey3: #f7f5f7;
$grey4: #b1b6bb;
$grey5: #adb4ba;
$grey6: #666666;

$grey7: #7a7a7a;
$grey8: #e0e0e0;
$grey9: #ebebeb;
$grey10: #a2a3a7;

$blue1: #84b1d8;
$blue2: #e9f2fa;
$blue3: #3399ff;

$yellow: #fff655;

$pink: #ff7c7b;

$orange: #ff7900;

$red: #ff0000;

$white: #ffffff;